<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css' %}">
    <title>CRUD</title>
</head>

<body>
    <div class="container-fluid mt-3   col-10 ">


        <h1 class="text-success text-center alert alert-info">Student Registration</h1>



        {% block content %}{% endblock %}
    </div>






    </div>













    <script src="{% static 'enroll/js/bootstrap.min.js' %}"></script>

</body>

</html>